<style>
    
    .activeLogin {
        padding-top: 0!important;
    }
    .activeLogin .page {
            width: 100%;
            height: 100%;
            position: fixed;
            overflow-y: scroll;
            top: 0;
            left: 0;
            overflow-x: hidden;
            background: transparent;
    }
    .bg_anim { 
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            object-fit: cover;
            height: 100%;
            -webkit-animation: 20s cubic-bezier(.2, 0, .7, 1) bg_zoom infinite;
    }
    @-webkit-keyframes bg_zoom {
        0% {
            -webkit-transform: scale(1);
        }
        50% {
            -webkit-transform: scale(1.11)
        }
        100% {
            -webkit-transform: scale(1);
        }
    }
    .animation_poster {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    .animation_poster:before {
        width: 100%;
        height: 100%;
        position: absolute;
        content: '';
        background: #000;
        opacity: .8;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    .login_box {
            left: 25%;
            width: 50%;
            top: 15%;
            position: absolute;
    }
    @media (min-width: 1200px) {
        .login_box {
            width: 25%!important;
            left: 35%!important;
        }
    }
    @media (max-width: 650px) {
        .login_box {
            width: 100%!important;
            left: 0!important;
        }
    }
    
    .sign_in_btn {
        margin-bottom: 30px;
        font-weight: 400;
    }
    .brand-text, .login_box p {
        color: #fff;
    }
    .txt_grey {
        color: #ccc;
    }
    .f_2_7em { font-size: 2.7em!important; }
    .login_box .brand-img {
        background: rgb(255, 255, 255);
        border-radius: 50%;
        padding: 35px;
    }
    .loader { margin-top: -29px; }
    
</style>


<div class="animation_poster">
   <img src="resources/images/login_bg.jpg" alt="" class="bg_anim">
</div>

  <!-- Page -->
  <div class="page text-center">
    <div class="page-content login_box">
      <div class="brand">
        <img class="brand-img hidden" src="../../resources/images/vaultlogo.PNG" alt="">
        <h2 class="brand-text logo_txt f_2_7em">CliffVault</h2>
      </div>
      <p>Sign in to your account</p>
        
      <div class="">
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
      </div>
        
      <form name="loginFrom" ng-submit="vm.login()" role="form">
          
        <div class="form-group" ng-class="{ 'has-error': loginFrom.username.$dirty && loginFrom.username.$error.required }">
          <label class="sr-only" for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Username" ng-model="vm.username" required>
          <span ng-show="loginFrom.username.$dirty && loginFrom.username.$error.required" class="help-block text-left">Username is required</span>
        </div>
          
        <div class="form-group" ng-class="{ 'has-error': loginFrom.password.$dirty && loginFrom.password.$error.required }">
          <label class="sr-only" for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="vm.password" required>
          <span ng-show="loginFrom.password.$dirty && loginFrom.password.$error.required" class="help-block text-left">Password is required</span>
        </div>
          
        <div class="form-group clearfix">
          <div class="checkbox-custom checkbox-inline checkbox-primary pull-left">
            <input type="checkbox" id="inputCheckbox" name="remember">
            <label for="inputCheckbox" class="txt_grey">Remember me</label>
          </div>
          <a class="pull-right" href="#/">Forgot password?</a>
        </div>
          
        <button type="submit" ng-disabled="loginFrom.$invalid || vm.dataLoading" class="btn btn-primary btn-block sign_in_btn">SIGN IN</button>
        <img ng-if="vm.dataLoading" src="resources/images/loading.gif" class="loader" />
          
      </form>
        
        
      <p>Still no account? Please go to <a href="#/register">Register</a></p>

      <footer class="page-copyright page-copyright-inverse">
        <p>WEBAPP BY cliffcreations</p>
        <p>© 2016. All RIGHT RESERVED.</p>
        <div class="social">
          <a href="javascript:void(0)">
            <i class="icon bd-twitter" aria-hidden="true"></i>
          </a>
          <a href="javascript:void(0)">
            <i class="icon bd-facebook" aria-hidden="true"></i>
          </a>
          <a href="javascript:void(0)">
            <i class="icon bd-dribbble" aria-hidden="true"></i>
          </a>
        </div>
      </footer>
    </div>
  </div>
  <!-- End Page -->