<style>
    .activeLogin {
        padding-top: 0!important;
    }
    .activeLogin .page {
            width: 100%;
            height: 100%;
            position: fixed;
            overflow-y: scroll;
            top: 0;
            left: 0;
            overflow-x: hidden;
            background: transparent;
    }
    .bg_anim { 
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            object-fit: cover;
            height: 100%;
            -webkit-animation: 20s cubic-bezier(.2, 0, .7, 1) bg_zoom infinite;
    }
    @-webkit-keyframes bg_zoom {
        0% {
            -webkit-transform: scale(1);
        }
        50% {
            -webkit-transform: scale(1.11)
        }
        100% {
            -webkit-transform: scale(1);
        }
    }
    .animation_poster {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    .animation_poster:before {
        width: 100%;
        height: 100%;
        position: absolute;
        content: '';
        background: #000;
        opacity: .8;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    .login_box {
            left: 25%;
            width: 50%;
            top: 15%;
            position: absolute;
    }
    @media (min-width: 1200px) {
        .login_box {
            width: 25%!important;
            left: 35%!important;
        }
    }
    @media (max-width: 650px) {
        .login_box {
            width: 100%!important;
            left: 0!important;
        }
    }
    
    .sign_in_btn {
        margin-bottom: 30px;
        font-weight: 400;
    }
    .brand-text, .login_box p {
        color: #fff;
    }
    .txt_grey {
        color: #ccc;
    }
    .f_2_7em { font-size: 2.7em!important; }
    .login_box .brand-img {
        background: rgb(255, 255, 255);
        border-radius: 50%;
        padding: 35px;
    }
    .loader { margin-top: -29px; }
    .flash_message {
        width: 100%;
        margin-top: 10px!important;
    }
    .flash_message .tooltip { margin: 0!important; }
    .flash_message .tooltip-inner { max-width: 100%; font-weight: 400; }
</style>

  
  <div class="animation_poster">
     <div backstretch backstretch-images="loginBgImages" backstretch-duration="5000" backstretch-fade="2" class="bg_anim"></div>
  </div>

  <!-- Page -->
  <div class="page text-center">
    <div class="page-content login_box">
      <div class="brand">
        <img class="brand-img hidden" src="../../resources/images/vaultlogo.PNG" alt="">
        <h2 class="brand-text logo_txt f_2_7em" data-fittext data-fittext-max="inherit">CliffVault</h2>
      </div>
      <p class="margin-bottom-20">Sign Up to work more collaboratively</p>
        
        
        <div class="example example-tooltip flash_message" ng-if="flash">
            <button type="button" class="btn sr-only" ng-class="{ 'tooltip-success': flash.type === 'success', 'tooltip-danger': flash.type === 'error' }" title="">Danger</button>
            <div class="tooltip top" role="tooltip">
                <div class="tooltip-arrow" ></div>
                <div class="tooltip-inner" ng-bind="flash.message">
                </div>
            </div>
        </div>        
        
        
      <form name="registerForm" ng-submit="vm.register()" role="form">
          
        <div class="form-group" ng-class="{ 'has-error': registerForm.regsterName.$dirty && registerForm.regsterName.$error.required }">
          <label class="sr-only" for="regsterName">Name</label>
          <input type="text" class="form-control" id="regsterName" name="regsterName" placeholder="Name" ng-model="vm.user.regsterName" required>
          <span ng-show="registerForm.regsterName.$dirty && registerForm.regsterName.$error.required" class="help-block text-left">Name is required</span>
        </div>
          
        <div class="form-group" ng-class="{ 'has-error': registerForm.regsterEmail.$dirty && registerForm.regsterEmail.$error.required }">
          <label class="sr-only" for="regsterEmail">Email</label>
          <input type="email" class="form-control" id="regsterEmail" name="regsterEmail" placeholder="Email" ng-model="vm.user.regsterEmail" required>
          <span ng-show="registerForm.regsterEmail.$dirty && registerForm.regsterEmail.$error.required" class="help-block text-left">Email address is required</span>
          <span ng-show="registerForm.regsterEmail.$dirty && registerForm.regsterEmail.$error.email" class="help-block text-left">Please enter a valid email address</span>
        </div>
          
        <div class="form-group" ng-class="{ 'has-error': registerForm.username.$dirty && registerForm.username.$error.required }">
          <label class="sr-only" for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Username" ng-model="vm.user.username" pattern=".{2,}" ng-unique required>
          <span ng-show="registerForm.username.$dirty && registerForm.username.$error.required" class="help-block text-left">Username is required</span>
          <span ng-show="registerForm.username.$dirty && registerForm.username.$error.pattern" class="help-block text-left">Please enter atleast 2 characters</span>
          <span ng-show="takenErrorMsg" ng-bind="takenErrorMsg" class="help-block text-left error margin-bottom-0"></span>
        </div>
          
        <div class="form-group" ng-class="{ 'has-error': registerForm.password.$dirty && registerForm.password.$error.required }">
          <label class="sr-only" for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="vm.user.password" required pattern=".{6,}">
          <span ng-show="registerForm.password.$dirty && registerForm.password.$error.required" class="help-block text-left">Password is required</span>
          <span ng-show="registerForm.password.$dirty && registerForm.password.$error.pattern" class="help-block text-left">Please enter minimum 6 characters</span>
        </div>
            
        <div class="form-group" ng-class="{ 'has-error': registerForm.registerPasswordCheck.$dirty && registerForm.registerPasswordCheck.$error.required }">
          <label class="sr-only" for="registerPasswordCheck">Retype Password</label>
          <input type="password" class="form-control" id="registerPasswordCheck" name="registerPasswordCheck" placeholder="Confirm Password" ng-model="vm.user.registerPasswordCheck" match="vm.user.password" required>
          <span ng-show="registerForm.registerPasswordCheck.$dirty && registerForm.registerPasswordCheck.$error.required" class="help-block text-left">Confirm Password is required</span>
          <span ng-show="registerForm.registerPasswordCheck.$dirty && registerForm.registerPasswordCheck.$error.match" class="help-block text-left">Password and Confirm Password is not match!</span>
        </div>
            
        <button type="submit" class="btn btn-primary btn-block sign_in_btn" ng-disabled="registerForm.$invalid || vm.dataLoading || takenErrorMsg">REGISTER</button>
        <img ng-if="vm.dataLoading" src="resources/images/loading.gif" class="loader" />
      </form>
        
      <p>Have account already? Please go to <a href="#/login">Sign In</a></p>

      <footer class="page-copyright page-copyright-inverse">
        <p>WEBAPP BY cliffcreations</p>
        <p class="text-uppercase">&copy; 2016, Cliffvault. All RIGHT RESERVED.</p>
        <div class="social">
          <a href="javascript:void(0)">
            <i class="icon bd-twitter" aria-hidden="true"></i>
          </a>
          <a href="javascript:void(0)">
            <i class="icon bd-facebook" aria-hidden="true"></i>
          </a>
          <a href="javascript:void(0)">
            <i class="icon bd-dribbble" aria-hidden="true"></i>
          </a>
        </div>
      </footer>
    </div>
  </div>
  <!-- End Page -->